.rbc-toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1.5rem;
    height: 1.5rem;
}

.rbc-event-content {
    font-size: 0.725rem;
    font-weight: bold;
}

.prev-next {
    display: flex;
    gap: 0.725rem;
}

.prev-next button {
    border: none;
    background-color: transparent;
    outline: none;
    color: inherit;
}

.prev-next button:hover,
.prev-next button:focus,
.prev-next button:active {
    border: none;
    background-color: transparent;
    outline: none;
    color: inherit;
}

.month-week-day {
    display: flex;
    gap: 0.3rem;
    margin-left: auto; 
}

.month-week-day button {
    z-index: 1;
    background-color: transparent;
    border: none;
}

.month-week-day button:hover,
.month-week-day button:focus,
.month-week-day button:active {
    border: none;
    background-color: transparent;
    outline: none;
}

.rbc-event.rbc-event-allday {
    width:99%;
    margin: 0 auto;
}

.rbc-date-cell {
    display: flex;
    justify-content: center;
}