.layout-container {
    position: relative;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border: 1px solid orange;
}

.content {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    flex: 1; /* 남은 공간 모두 사용 */
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.div-left {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: flex-start;
}

main {
    width: 80%;
    height: 100%;
    flex: 1;
    border: 1px solid blue;
    overflow: visible;
    position: relative;
}

header {
    width: 95%;
    padding: 1rem;
    border: 1px solid pink;
    display: flex;
    justify-content: flex-end;
    background: white;
    margin: 0 auto;
}

footer {
    width: 100%;
    padding: 1rem;
    border: 1px solid black;
    text-align: center;
    background: white;
}
