// 모든 테이블 공통
table {
    border-collapse : collapse;
    vertical-align: middle;
}

tbody tr:nth-child(odd) {
    background-color:rgb(243, 243, 243);
}

th {
    font-weight: 200;
}

// UserList.tsx 테이블
.user-container {
    display: absolute;
}

.user-table {
    width: 60%;
    max-height: 100%;
    overflow: auto;
    justify-content: center;
    border: 1px solid black;
}

.user-table table {
    width: 100%;
}

.user-table tr, td {
    text-align: center;
    vertical-align: middle;
}

.user-table select {
    border: none;
    background-color: transparent;
}

.user-table select:focus {
    outline: 0;
}