@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css');

#root {
  display: grid;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  font-family: "Trebuchet MS", "NanumSquareNeo", sans-serif;
}

#root>div {
  height: 100%;
}
