body {
  margin: 0;
  display: flex;
  justify-content: center; /* 가로축 중앙 정렬 추가 */
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  -ms-overflow-style: none;
  border: 1px solid pink;
}
::-webkit-scrollbar {
  display: none;
}